* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



$color-purple: rgba(55, 0, 255);
$color-grey: rgba(128, 128, 128);
$color-white: rgba(255, 255, 255);





html {
    font-size: 62.5%;
}

body,
a,
li {
    color: black;
}

.App {
    max-width: 140rem;
    min-height: 100vh;
    height: 100%;

    margin: 0 auto;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {

    text-decoration: none;

}

li {
    list-style: none;
}