.checkout-form{
    color: orange;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 100%;
    background-color: rgba(247, 119, 119, 0.438);




}
