.footer {
    margin-top: 10rem;
    padding: 2rem;

    div img {
        width: 5rem;
    }

    display: grid;
    grid-template-columns: 6fr 3fr 3fr;
    background-color: $color-footer-backgound;
    color: white;
    font-size: 1.5rem;

    &_menu {

        display: flex;
        flex-direction: column;
        a{
            margin-bottom: 3px;
        }




    }






}